<?xml version="1.0"?>

<launch>
  <arg name="robot_name"/>
  <arg name="urdf_file" default="$(find xacro)/xacro.py '$(find kobuki_description)/urdf/kobuki_standalone.urdf.xacro'" />
  <param name="robot_description" command="$(arg urdf_file)" />
  
  <node pkg="nodelet" type="nodelet" name="mobile_base_nodelet_manager" args="manager">
     <!-- <param name="tf_prefix" type="string" value="tb1" /> -->
  </node>

  <node pkg="nodelet" type="nodelet" name="mobile_base" args="load kobuki_node/KobukiNodelet mobile_base_nodelet_manager">
    <!-- <rosparam file="$(find kobuki_node)/param/base.yaml" command="load"/> -->
    <param name="odom_frame" value= "$(arg robot_name)/odom" />
    <param name="base_frame" value= "$(arg robot_name)/base_footprint" />

    <rosparam file="$(find simple_exploration_multi_robot)/param/base_tb1.yaml" command="load"/>
    <remap from="mobile_base/odom" to="odom"/>
    <!--rosparam param="base_frame"> /tb1/base_footprint </rosparam--> 

    <remap from="mobile_base/enable" to="enable"/>
    <remap from="mobile_base/disable" to="disable"/>
    <remap from="mobile_base/joint_states" to="joint_states"/>
  </node>

  <node pkg="diagnostic_aggregator" type="aggregator_node" name="diagnostic_aggregator" >
    <rosparam command="load" file="$(find kobuki_node)/param/diagnostics.yaml" />
  </node>

  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="30.0" />
  </node>
</launch>
  
