<?xml version="1.0"?>
<launch>
<node pkg="move_base" type="move_base" respawn="true" name="move_base" >
    <remap from="base_scan" to="/scan"/>
    <remap from="cmd_vel" to="/mobile_base/commands/velocity"/>
    
    <rosparam file="$(find multi_merge)/yaml/costmap_common_turtlebot.yaml" command="load" ns="global_costmap"/> 
    <rosparam file="$(find multi_merge)/yaml/global_costmap.yaml" command="load" />  

    <rosparam file="$(find multi_merge)/yaml/costmap_common_turtlebot.yaml" command="load" ns="local_costmap"/> 
    <rosparam file="$(find multi_merge)/yaml/local_costmap.yaml" command="load" />
    <rosparam file="$(find multi_merge)/yaml/trajectory_planner_turtlebot.yaml" command="load"/>
</node>

</launch>
