<?xml version="1.0"?>
<!--[ Khelifa Baizid, Jul 2015 ]-->

<launch>

  <node pkg="map_send" type="map_send" name="map_send" output="screen">
    <param name="ip"        value="10.1.16.75"/>
    <param name="map_topic" value="/map"/>
    <param name="x_initial" value="15.73"/>
    <param name="y_initial" value="0.0"/>
  </node>

  <!--node pkg="rviz" type="rviz" name="rviz" output="screen"/-->   
</launch>
